header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0 4px 10px rgb(50, 0, 73);

    padding: 5px 0;

    display: flex;
    align-items: center;
    justify-content: center;
     z-index: 100; 
}

.logo {
  height: 120px;
  position: absolute;
  left: 1px;
  }

.titulo {
  height: 130px; 
  
}

h1{
    color: aliceblue;
    font-size: 70px;
    font-family: fantasy;
    text-shadow: 5px 5px 6px rgb(155, 23, 115);
    margin: 0;
}

.botones{
  position: relative;
  width: 100vw;
  height: 100px;
  margin-top: 180px;
  text-align: center;

}
.opcion-menu{
  display: inline-block;
  background-color: rgb(77, 211, 252);
  color: aliceblue;
  text-decoration: none;
  padding: 12px 25px;
  font-family: fantasy;
  text-shadow:
    -1px -1px 0 rgb(214, 0, 143),
     1px -1px 0 rgb(214, 0, 143),
    -1px  1px 0 rgb(214, 0, 143),
     1px  1px 0 rgb(214, 0, 143);
  font-size: 20px;
  border: 2px dashed black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  margin: 0 15px;
}

.opcion-menu:hover {
  background-color: rgb(214, 0, 143);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(214, 0, 143);
}

.contenido img{
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;

}
.contenido{
  position: relative;
  top: 0px;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.contenido img.gif-bienvenida {
  position: absolute;
  width: 400px;
  height: auto;
  top: 100px;
  left: 200px;
  border: 3px dashed black;
  box-shadow: 3px 3px 8px rgba(83, 0, 116, 0.6);
  }

.contenido .descripcion {
  position: absolute;
  bottom: 970px;
  left: 15%;
  display: block;
  background-color: rgba(254, 252, 255, 1);
  border-radius: 20px;
  border: 2px dashed black ;
  box-shadow: 3px 3px 8px rgba(83, 0, 116, 0.6);
  color: rgb(0, 0, 0);
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
 }

 .contenido .descripcion:hover {
   transform: scale(1.1);
   box-shadow: 0 0 10px rgb(214, 0, 143);
  }

  .contenido img.twitter {
  position: absolute;
  width: 370px;
  height: auto;
  top: 600px;
  left: 800px;
  border: 3px dashed black;
  box-shadow: 3px 3px 8px rgba(83, 0, 116, 0.6);
  }

  .contenido .tritter{
  position: absolute;
  top: 880px;     
  left: 818px;
  background-color: rgba(77, 211, 252);
  border-radius: 10px;
  border: 3px dashed black;
  box-shadow: 3px 3px 8px rgba(83, 0, 116, 0.6);
  padding: 0px 10px;
  max-width: 500px;
  text-align: center;
  font-family: fantasy;
  text-shadow:
    -1px -1px 0 rgb(214, 0, 143),
    1px -1px 0 rgb(214, 0, 143),
    -1px  1px 0 rgb(214, 0, 143),
    1px  1px 0 rgb(214, 0, 143); 
  color: rgb(255, 255, 255);
  font-size: 20px;
 }

.contenido .tritter:hover {
  background-color: rgb(214, 0, 143);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(214, 0, 143);
}

.contenido .text-casillero{
  position: absolute;
  top: 1450px;     
  left: 818px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px dashed black;
  box-shadow: 3px 3px 8px rgba(83, 0, 116, 0.6);
  padding: 0% 10px;
  max-width: 500px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
 }

.contenido .casilleros {
  position: absolute;
  top: 1000px;
  left: 75cm0px;
  width: 450px;
}

.contenido .casilleros img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.4s;
}

.contenido .casillero-abierto {
  opacity: 0;
}

.contenido .casilleros:hover .casillero-cerrado {
  opacity: 0;
  filter: drop-shadow(0 0 10px rgb(212, 255, 219));
}

.contenido .casilleros:hover .casillero-abierto {
  opacity: 1;
  filter: drop-shadow(0 0 10px rgb(212, 255, 219));
}

body {
  background-image: url("../Resources/FondoPrincipal.jpg");
  background-size: 20%;
  background-size: cover;
  background-position: center;
  
  }

