body{
    background-image: url(Fondos/chicas.jpg);
    
    background-attachment: fixed;
}
.fondo{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 95%;
    margin: 60px auto;
    background-color:rgb(48, 227, 255);
    border: 1px;
    border-radius: 5px;
    gap: 20px;
    padding: 30px;
}
.imagenes-pelicula{
    display: flex;
    grid-template-columns: 100px auto 1fr;
    align-items: center;
    gap: 12px;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    padding-right: 15px;
}

.imagen-lat{
    width: 150px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border: 7px solid rgb(206, 44, 139);
}

.contenido-texto{
    text-align:left;
    flex: 1;
    margin-right: 20px;
    padding: 5px 10px 10px 30px;
    background-color: black;
    border-radius: 10px;
    h2{
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
    min-width: 200px;
    }
    p{
        color: rgb(206, 44, 139);
    font-family: cursive;
    flex: 1;
    min-width: 250px;
    }
    
}